
/* START Common CSS */
$borderGray : #979797;
/* END Common CSS */

li.first-child {
  border-left: none;
}
@media (min-width: 768px) {
  .list-category {
      .title {
          background: none;
          text-align: center;
          font-size: 30px;
          border-bottom: 1px solid $borderGray;
          a {
              color: #333333;
          }
      }
    .content {
      padding: 10px 100px;
          .title {
                text-align: left;
                padding: 10px 0px;
                height: auto;
                border-bottom: 1px dashed $borderGray;
                border-top: 1px solid $borderGray;
          }
          ul {
              padding: 0px;
              list-style: none;
              margin-top: 20px;

              li {
                  display: block;
                  line-height: 45px;
                  a {
                      font-size: 16px;
                      color: #333;
                  }
              }
          }
    }
  }
}
/* END @media (min-width: 767px) */

@media (max-width: 767px) {

  .list-category {
      .title {
          background: none;
          text-align: center;
          font-size: 20px;
          border-bottom: 1px solid $borderGray;
        a {
          color: #333333;
        }
      }
      .content {
          padding-top: 25px;
          .title {
            text-align: left;
            padding: 10px 0px;
            height: auto;
            border-bottom: 1px dashed $borderGray;
            border-top: 1px solid $borderGray;
          }
          ul {
              padding: 0px;
              list-style: none;
              margin-top: 20px;

            li {
                display: block;
                line-height: 45px;
              a {
                  font-size: 16px;
                  color: #333;
              }
            }
          }
      }
  }
  @media (min-width: 414px) and (max-width: 767px) {

  }
  /* END @media (min-width: 414px) and (max-width: 767px) */


  @media (max-width: 413px) {
  }
  /* @media (max-width: 413px) */
}
/* END @media (max-width: 767px) */
