
/* START Common CSS */
.magazine-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.magazine, .recommend-list {
  .magazine-list {
    margin: 22px 152px 4px 193px;
    overflow: hidden;
    .magazine-item {
      overflow: hidden;
      border-bottom: 1px dashed #c5c5c5 ;
      &:last-child {
        border-bottom: none ;
      }
      padding-top: 20px;
      padding-bottom: 20px;
      img {
        width: 161px;
        float: left;
      }

      a {
        &:hover, &:focus, &:active {
          color: #454545;
        }
      }
      .magazine-content {
        .magazine-date-top {
          font-size: 12pt;
          font-weight: bold;
          color: #000000;
          display: block;
        }
        .magazine-title {
          font-size: 17px;
          color: #0869a3;
        }
        margin-top: 0px;
        width: auto;
        margin-left: 180px;
      }

    }
  }

}
.recommend-list {
  .magazine-list {
     margin: 22px 0px 4px 0px;
    .magazine-item {
      width: 48%;
      float: left;
      img {
        width: 200px;
      }
      &:nth-child(2n) {
        float: right;
      }
      &:last-child {
        border-bottom: 1px dashed #c5c5c5 ;
      }
      .magazine-content {
        margin-left: 220px;
        .magazine-date-top {
          font-weight: normal;
        }
      }
    }
  }
}

.btn-magazine-list {
  background-color: #cc9d44;
}

.btn-magazine-list:hover{
  color: #fff;
  opacity: 0.7;
}

.magazine-detail {

  .content {
    padding: 0px 80px;
    .detail-title {
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 1px;
      padding: 20px 0px;
      border-bottom: 1px solid #999999;
    }
    .magazine-date {
      padding: 10px 0px;
    }
    .magazine-image {
      img {
        width: 100%;
        height: auto;
      }
    }

  }
}
.enable-background {
  background-color: #FFFFFF !important;
  ol li{
    color: #644342 !important;
    a {
      color: #644342 !important;
    }
  }
}

.btn-recommend-magazine-list {
  a {
    background-color: #cc9d44;
    color: #fff !important;
  }
}

/* END .magazine
/* END Common CSS */

@media (min-width: 768px) {
  .btn-magazine-list {
    width: 418px;
    height: 54px;
    font-size: 18px;
    color: #fff;
    line-height: 38px;
    margin: 34px 0;
  }
  .btn-recommend-magazine-list {
    width: 100%;
    padding-top: 44px;
    margin-bottom: 44px;
    a {
      height: 55px;
      width: 450px;
      font-size: 20px;
      line-height: 40px;

    }
  }
  .information {
    .title {
      background-color: #fff;
      text-align: center;
      font-size: 34px;
      font-weight: normal;
      border-bottom: 1px solid #233435;
      height: 100px;
    }
    .news-list {
      margin: 22px 152px 4px 193px;
      .news-item {
        overflow: hidden;
        border-bottom: 1px dashed #c5c5c5;
        padding: 15px 0px;
        &:last-child {
          border-bottom: none;
        }
        span {
          float: left;
          padding: 0px;
          color: #454545;
          font-size: 17px;
        }
        .news-date {
          width: 20%;
        }
        .news-title {
          width: 78%;
          padding-left: 20px;
          a {
            color: #454545;
          }
        }
      }
    }
  }
  .recommend-list {
    .magazine-list {
      .magazine-item {
        height: 200px;
      }
    }
  }
}
/* END @media (min-width: 767px) */

@media (max-width: 767px) {
  .magazine, .recommend-list {
    .magazine-list {
      margin: 0px 0px 0px 0px;
      overflow: hidden;
      .magazine-item {
        position: relative;
        overflow: hidden;
        border-bottom: 2px solid #c5c5c5 ;
        padding-bottom: 0px;
        padding-top: 0px;
        img {
          width: 100px;
          float: left;
        }

        .magazine-content {
          .magazine-date-top {
            display: none;
          }
          .magazine-date-bottom {
            float: right;
            position: absolute;
            bottom: 0px;
            right: 0px;
          }
          .magazine-title {
            color: #0869a3;
            font-size: 14px;
            display: block;
            a:hover{
              text-decoration: none;
            }
          }
          margin-left: 115px;
        }

      }
    }

  }
  .recommend-list {
    .magazine-list {
      margin: 22px 0px 4px 0px;
      .magazine-item {
        width: 100%;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .btn-magazine-list {
    margin: 22px auto 43px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: #fff;
    line-height: 35px;
  }
  .magazine-detail {
    .content {
      padding: 0px 0px;
      width: 100%;
      table {
        width: 100% !important;
        overflow: hidden;
      }
      img {
        //display: block !important;
        width: 100% !important;
        height: auto !important;
      }
      .detail-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 1px;
        padding: 0px;
        border-bottom: none;
      }
      .magazine-date {
        padding: none;
      }
      .magazine-image {
        margin-bottom: 20px;
      }
      .magazine-desktop {
        display: none;
      }
    }
  }
  .information {
    .title {
      background-color: #fff;
      text-align: center;
      border-bottom: 1px solid #233435;
    }
    .news-list {
      margin: 10px 0px 4px 0px;
      .news-item {
        overflow: hidden;
        border-bottom: 1px dashed #c5c5c5;
        padding: 15px 0px;
        &:last-child {
          border-bottom: none;
        }
        span {
          padding: 0px;
          color: #454545;
          font-size: 14px;
        }
        .news-date {
          font-size: 16px;
          display: block;
          padding-bottom: 5px;
        }
        .news-title {
          padding-left: 5px;
          a {
            color: #454545;
          }
        }
      }
    }
  }
  @media (min-width: 414px) and (max-width: 767px) {
    .information {
      .title {
        font-weight: normal;
        font-size: 25px;
        margin-bottom: 20px;
        height: 70px;
      }
    }
    .main {
      .product-list {
        .product {
          word-break: break-all;
        }
      }
    }
  }
  /* END @media (min-width: 414px) and (max-width: 767px) */


  @media (max-width: 413px) {
    .main {
      .product-list {
        .product {
          word-break: break-all;
        }
      }
    }
  }
  /* @media (max-width: 413px) */
}
/* END @media (max-width: 767px) */
