
/* START Common CSS */
$borderGray : #979797;

.btn-magazine-list{
  background: #233435;
}
.btn-black {
  color: #fff;
  background-color: #3c5039;
  border-color: #364434;
  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}
.tel {
  padding: 0px 15px;
  .textBoxTel {
    width: 30%;
    float: left;
  }
  .line-line {
    float: left;
    width: 5%;
    text-align: center;
    font-weight: bold;
  }
}
.code {
  padding: 0px 15px;
  .textBoxCode {
    width: 45%;
    float: left;
  }
  .line-line {
    float: left;
    width: 10%;
    text-align: center;
    font-weight: bold;
  }
}

.btn-change {
  background: #cc9d44;
  margin-bottom: 0px;
}
.displayNone {
  display: none !important;
}

.noneMarginTop {
  margin-top: 0px !important;
}

/* END Common CSS */

@media (min-width: 768px) {
  header {
    .navbar {
      .logo {
        margin-top: 5px;
        margin-bottom: 20px;
       }
    }
  }
  .main {
    padding-bottom: 100px;
    .main-left {
      float: left;
      width: 800px;
      padding-right: 25px;
      border-right: 1px solid #979797;
        .title {
        background-color: #fff;
        text-align: center;
        font-size: 34px;
        font-weight: normal;
        border-bottom: 1px solid #233435;
        height: 100px;
      }
        .complete {
          padding: 10px 0px;
          p {
            font-size: 20px;
          }
        }
        .news-list {
        padding: 30px 100px;
        .news-item {
          overflow: hidden;
          border-bottom: 1px dashed #c5c5c5;
          padding: 15px 0px;
          &:last-child {
            border-bottom: none;
          }
          span {
            float: left;
            padding: 0px;
            color: #454545;
            font-size: 17px;
          }
          .news-date {
            width: 20%;
          }
          .news-title {
            width: 78%;
            padding-left: 20px;
            a {
              color: #454545;
            }
          }
        }
      }
        ul.history-list {
        padding: 10px 50px;
        list-style: none;
        .opacity {
          opacity: 0.5;
        }
        .over-parent {
          position: relative;
          margin-top: 0px;
        }
        li {
          //height: 200px;
          border-bottom: 1px dashed #c5c5c5;
          padding: 20px 0px;
          overflow: hidden;

          .media-left {
            width: 25%;
            float: left;

            img {
              width: 100%;
            }
            span.status {
              color: #fff;
              border-radius: 50%;
              width: 40px;
              height: 40px;
              line-height: 40px;
              display: block;
              text-align: center;
              position: absolute;
            }
            .win {
              top: 15px;
              left: -15px;
              background-color: #d0021b;
            }
            .reject {
              top: 40%;
              left: 60px;
              background-color: #3c5039;
            }
            .pending {
              display: none;
            }
          }
          .content {
            float: left;
            width: 75%;
            p.media-title {
              font-size: 20px;
              padding: 0px;
              margin: 0px;
              .badge {
                display: inline;
                background-color: #3c5039;
                padding:5px 20px;
              }
            }
          }
          .box-detail {
            float: left;
            width: 75%;
            .product-history-date {
              width: 100%;
              float: left;
              padding: 20px 0px;
              overflow: hidden;

              span {
                font-size: 18px;
                display: block;
                width: 50%;
                &:first-child { float: left;}
                &:last-child { float: right;}
              }
            }
            .apply-button {
              .btn {
                padding: 5px 0px;
                width: 150px;
              }
            }
          }
        }
      }
        ul.info-list {
        padding: 30px 100px;
        list-style: none;
        li {
          overflow: hidden;
          border-bottom: 1px dashed #c5c5c5;
          padding: 20px 0px;
          span {
            padding: 0px;
            color: #454545;
            font-size: 17px;
            width: 50%;
            float: left;
          }
          .info-label-address {
            width: 15%;
            padding-top: 20px;
          }
          .info-value-address {
            p {
              padding: 0px;
            }
          }
          .info-value {
            text-align: right;
          }
        }
      }
        .alert-content {
            p {
                color: #333333;
                text-align: center;
            }
            p.description {
                font-size: 20px;
                padding: 20px 0px;
            }
            p.alert {
                font-size: 16px;
                padding-top: 0px;
            }
            ul.list-alert-item {
                list-style: none;
                padding: 0px 180px;
                overflow: hidden;
                li {
                    float: left;
                    background: #d7e0d6;
                    border-radius: 50px;
                    margin-right: 3px;
                    margin-bottom: 10px;
                    padding: 5px 25px;
                }
            }
          ul.list-bottom-item {
              list-style: none;
              overflow: hidden;
            li {
                border-bottom: 2px dotted #c9c9c9;
                padding: 20px 0px;
                float:left;
                width: 48%;
                &:nth-child(2n) {
                   float: right;
                }
            }
          }
          .line {
              border-top: 1px solid #233435;
              margin: 30px 0px;
          }
        }
        .alert-list-content {
            padding: 0px 30px;
            padding-top: 20px;
            .title {
                text-align: left;
                border-bottom: 1px dashed $borderGray;
                border-top: 1px solid $borderGray;
                padding: 0px;
                font-size: 20px;
                line-height: 72px;
                height: 72px;
                padding-left: 5px;
                margin-top: -1px;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    margin-right: 10px;
                }
              .icon-toggle {
                  width: 45px;
                  height: 45px;
                  background-size: 45px 45px;
                  margin-top: 11px;
                  margin-right: 0px;
              }
            }
          #alert-purpose {
            margin-top: -1px !important;
            border-bottom: 1px solid $borderGray;
          }
            ul.list-category {
                list-style: none;
                padding: 0px;
                li {
                    padding: 10px 0px;
                    padding-left: 5px;
                    input {
                        width: 20px;
                        height: 20px;
                        vertical-align: -4px;
                    }
                    span {
                        font-size: 14px;
                        cursor: context-menu;
                    }
                }
            }
        }
    }
    .main-right {
      float: left;
      width: 250px;
      margin-left: 20px;
      padding-left: 10px;
      padding-bottom: 20px;
      .content {
        .header-top {
          border-bottom: 1px solid #c9c9c9;
          padding-bottom: 20px;
          span {
            img {
              width: 30px;
              height: auto;
            }
            display: inline;
            font-size: 17px;
          }
          .title-info {
            padding-left: 15px;
          }
        }
        .menu-left {
          padding: 10px 0px;
          ul {
            list-style: none;
            li {
              a {
                display: block;
                padding: 20px 0px;
                color: #777777;
                background: url("../img/menu-arrow.png") no-repeat;
                background-position: right center;
                color: #5c5c5c;
                background-size: 12px 12px;
                text-decoration: none;
              }
              border-bottom: 1px dashed #c9c9c9;
              ul {
                  background: #d7e0d6;
                  padding-left: 25px;
                  padding-right: 10px;
                  border-top: 1px dashed #c9c9c9;
                li {

                }
              }
            }
          }
          ul.parent {
              padding: 0px;
          }
        }
      }
    }
  }
}
/* END @media (min-width: 767px) */

@media (max-width: 767px) {
  .tel, .code {
    padding: 0px;
  }
  .form-group {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .nonePadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .title-notify-sp {
    background: #a4b4a2;
    padding: 10px 15px ;
    span {
      img {
        width: 30px;
        height: auto;
      }
      display: inline;
      font-size: 15px;
    }
    .title-info {
      padding-left: 12px;
    }
  }
  .main-left {
    .title {
      background-color: #fff;
      text-align: center;
      border-bottom: 1px solid #233435;
    }
    .history-list {
      margin: 10px 0px 4px 0px;
      padding: 0px;
      list-style: none;
      .opacity {
        opacity: 1;
      }
      .history-item {
        overflow: hidden;
        border-top: 1px solid #979797;
        .media-left {
          width: 70px;
          float: left;
          .status {
            display: none;
          }
        }
        .line {
          border-bottom: 1px dashed #979797;
          clear: both;
        }
        .content {
          width: 210px;
          float: left;
          height: 80px;
          p {
            padding-bottom: 0px;
          }
          .media-title {
            float: left;
            width: 100px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 14px;
            .badge {
              display: none;
            }
          }
          .status-sp {
            float: left;
            color: #fff;
            width: 32px;
            font-size: 14px;
            text-align: center;
            height: 100%;
            line-height: 80px;
          }
          .badge-sp {
            float: left;
            background: #c1ccc0;
            color: #424242;
            width: 32px;
            font-size: 14px;
            text-align: center;
            height: 100%;
            line-height: 80px;
          }
          .btn-detail {
            float: left;
            color: #424242;
            font-size: 14px;
            height: 100%;
            line-height: 80px;
            padding-left: 4px;
          }
          .win {
            background: #fff;
            color: #ff0000;
          }
          .reject {
            background: #233435;
          }
          .pending {
            background: #cc9d44;
          }
          .product-history-date {
            span {
              display: block;
            }
          }
        }
        .box-detail{
          display: none;
        }
        .product-history-date {
          width: 100%;
          span {
            display: block;
            margin:15px 0px 10px 0px;
          }
        }
        .apply-button {
          .btn {
            width: 48%;
            margin:10px 0px;
          }
          .btn-black {
            float: right;
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .news-list {
      margin: 10px 0px 4px 0px;
      .news-item {
        overflow: hidden;
        border-bottom: 1px dashed #c5c5c5;
        padding: 15px 0px;
        &:last-child {
          border-bottom: none;
        }
        span {
          padding: 0px;
          color: #454545;
          font-size: 14px;
        }
        .news-date {
          font-size: 16px;
          display: block;
          padding-bottom: 5px;
        }
        .news-title {
          padding-left: 5px;
          a {
            color: #454545;
          }
        }
      }
    }
    .navbar-tab-mypage {
      margin-top: 20px;
      ul {
        li {
          a {
            font-size: 18px;
            letter-spacing: 1px;
            padding: 10px 6px;
            span.caret {
              border-top: 6px dashed;
              border-right: 6px solid transparent;
              border-left: 6px solid transparent;
            }
          }
        }
        .active a{
          font-weight: 600;
        }
        .dropdown {
          background: none;
        }
      }
    }
    ul.info-list {
      padding: 30px 0px;
      list-style: none;
      li {
        overflow: hidden;
        border-bottom: 1px dashed #c5c5c5;
        padding: 20px 0px;
        span {
          padding: 0px;
          color: #454545;
          font-size: 17px;
          width: 50%;
          float: left;
        }
        .info-label-address {
          width: 15%;
        }
        .info-value-address {
          p {
            padding: 0px;
          }
        }
        .info-value {
          text-align: right;
        }
      }
    }
    .alert-content {
      p {
          font-size: 15px;
      }
      p.description {
          margin-top: 20px;
      }
      p.alert {
        border-bottom: 1px solid #233435;
        border-radius: 0px;
        margin-bottom: 10px;
      }
      ul.list-alert-item, ul.list-bottom-item {
        padding: 0px;
        list-style: none;
        border-bottom: 1px solid #233435;
        li {
            border-bottom: 2px dotted #c9c9c9;
            padding: 12px 0px;
            &:last-child {
                border-bottom: none;
            }
        }

      }

    }
    .alert-list-content {
      padding: 0px;
      .title {
        margin-top: -1px;
        text-align: left;
        border-bottom: 1px dashed $borderGray;
        border-top: 1px solid $borderGray;
        padding: 0px;
        font-size: 16px;
        line-height: 45px;
        height: 45px;
        padding-left: 5px;
        .icon-toggle {
          width: 30px;
          height: 30px;
          background-size: 30px 30px;
          margin-top: 5px;
          margin-right: 0px;
        }
      }
      #alert-purpose {
        margin-top: -1px !important;
        border-bottom: 1px solid $borderGray !important;
      }

      ul.list-category {
        list-style: none;
        padding: 0px;
        li {
          padding: 10px 0px;
          input {
            width: 20px;
            height: 20px;
            vertical-align: -4px;
          }
          span {
            font-size: 14px;
            cursor: context-menu;
          }
        }
      }
    }

  }
  @media (min-width: 414px) and (max-width: 767px) {

  }
  /* END @media (min-width: 414px) and (max-width: 767px) */


  @media (max-width: 413px) {
    .main-leftn {
      .title {
        font-weight: normal;
        font-size: 25px;
        margin-bottom: 20px;
        height: 70px;
      }
    }
  }
  /* @media (max-width: 413px) */
}
/* END @media (max-width: 767px) */
