body {
  font-size: 14px;
  line-height: 1.5;
  color: #5c5c5c; }

img {
  max-width: 100%;
  height: auto; }

nav {
  z-index: 10000; }

/* Common resource */
.menu-home {
  background: url("../img/menu-home.png") no-repeat left center; }

.menu-product {
  background: url("../img/menu-product.png") no-repeat left center; }

.menu-news {
  background: url("../img/menu-news.png") no-repeat left center; }

.menu-category {
  background: url("../img/menu-category.png") no-repeat left center; }

.menu-mypage {
  background: url("../img/menu-mypage.png") no-repeat left center; }

.slide-content {
  color: #fff;
  position: absolute;
  width: 100%; }

.btn-register-top {
  color: #fff;
  background-color: #d0021b; }
  .btn-register-top:hover, .btn-register-top:active, .btn-register-top:focus {
    color: #fff;
    opacity: 0.7; }

.btn-sns .fb-like {
  float: left; }
.btn-sns .twitter-btn {
  float: left;
  padding-top: 1px;
  margin-left: 5px; }

.btn-apply a {
  background-color: #cc9d44;
  color: #fff !important; }
  .btn-apply a:hover, .btn-apply a:active, .btn-apply a:focus {
    color: #fff;
    opacity: 0.7; }

.btn-submit-comment {
  color: #fff;
  background-color: #233435; }
  .btn-submit-comment:hover, .btn-submit-comment:active, .btn-submit-comment:focus {
    color: #fff;
    background-color: #233435;
    opacity: 0.7; }

.header-button .btn {
  color: #fff; }
.header-button .btn-regist {
  background-color: #ff3f56; }
.header-button .btn-login {
  background-color: #cc9d44; }

button.btn-apply {
  background-color: #cc9d44;
  color: #fff !important; }

.btn-recommend-list a {
  background-color: #233435;
  color: #fff !important; }
  .btn-recommend-list a:hover, .btn-recommend-list a:active, .btn-recommend-list a:focus {
    color: #fff;
    opacity: 0.7; }

.btn-edit-category {
  background-color: #233435;
  color: #fff !important; }
  .btn-edit-category:hover, .btn-edit-category:active, .btn-edit-category:focus {
    color: #fff;
    opacity: 0.7; }

.btn-gray {
  color: #fff;
  background-color: #233435; }
  .btn-gray:hover, .btn-gray:active, .btn-gray:focus {
    color: #fff;
    opacity: 0.7; }

.manufacturer {
  color: #b7b7b7; }

.bx-viewport {
  max-width: 100% !important;
  height: auto !important; }

.bx-wrapper {
  max-width: 100% !important;
  width: 100% !important; }
  .bx-wrapper .bx-controls-direction a {
    background-color: rgba(0, 0, 0, 0.3); }

.notice-method {
  color: #59a3e8; }
  .notice-method:hover, .notice-method:active, .notice-method:focus {
    color: #59a3e8; }

.login-link a {
  color: #85bcee; }
  .login-link a:focus, .login-link a:hover, .login-link a:active {
    color: #85bcee;
    opacity: 0.7; }

section .title {
  background-color: #d7e0d6;
  color: #424242;
  margin-top: 5px; }
section .icon-toggle {
  float: right;
  background: url("../img/icon-toggle-close.png") no-repeat center; }
  section .icon-toggle.content-open {
    background: url("../img/icon-toggle-open.png") no-repeat center; }

ul.product-list {
  list-style: none;
  padding: 0;
  display: table; }

.product a {
  color: #5d5d5d;
  text-decoration: none;
  display: block; }

.news-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.new-register {
  color: #424242;
  border-top: 1px solid #233435; }
  .new-register p {
    text-align: left; }

.register .btn-confirm {
  color: #fff;
  background-color: #233435; }
.register .register-confirm {
  list-style: none;
  padding: 0; }
  .register .register-confirm li {
    border-bottom: 1px dashed #233435; }
    .register .register-confirm li .register-value {
      float: right; }
.register .text-notice {
  color: red; }
.register .btn-register {
  color: #fff;
  background-color: #cc9d44; }

.product-subs ul {
  list-style: none;
  padding: 0; }
.product-subs label {
  font-weight: normal; }
.product-subs .title {
  background-color: #fff;
  text-align: center;
  font-weight: normal;
  border-bottom: 1px solid #c9c9c9; }
.product-subs .anket-list {
  margin-top: 20px; }
.product-subs .anket .title {
  font-weight: normal; }
.product-subs .anket .question .qno {
  color: #fff;
  background-color: #ff3f56;
  float: left; }
.product-subs .anket .question .qcontent {
  float: left; }
.product-subs .address .title {
  font-weight: normal;
  border: none; }
.product-subs .address .shipping-info li {
  border-bottom: 1px dashed #bcbcbc; }
  .product-subs .address .shipping-info li .address-label {
    float: left; }
  .product-subs .address .shipping-info li .address-detail {
    text-align: right;
    float: right;
    width: 90%; }
.product-subs .address .update-address .title {
  text-align: left;
  padding-left: 0;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9; }

.register-form .tos-link a {
  color: #59a3e8; }
  .register-form .tos-link a:hover, .register-form .tos-link a:active, .register-form .tos-link a:focus {
    color: #59a3e8;
    opacity: 0.7; }

/* END Common resource */
@media (min-width: 768px) {
  .main-menu {
    margin: 32px auto 4px 150px; }
    .main-menu li {
      height: 42px;
      border-left: 1px solid #979797;
      font-size: 17px;
      font-weight: bold; }
      .main-menu li:nth-child(2) {
        border: none; }
      .main-menu li a {
        padding: 6px 25px;
        line-height: 30px;
        color: #5c5c5c; }
        .main-menu li a:hover, .main-menu li a:focus, .main-menu li a:active {
          background-color: transparent;
          color: #5c5c5c;
          opacity: 0.6; }
        .main-menu li a .menu-item {
          height: 30px;
          padding-left: 50px; }
        .main-menu li a .menu-product, .main-menu li a .menu-news, .main-menu li a .menu-category, .main-menu li a .menu-mypage {
          background-size: 30px 27px; }

  .container {
    width: 1074px;
    padding: 0; }

  header {
    min-height: 105px;
    background-color: #d7e0d6; }
    header .navbar {
      border-radius: 0;
      margin-bottom: 0; }
      header .navbar .navbar-header {
        float: none;
        margin-top: 15px; }
        header .navbar .navbar-header .header-button {
          text-align: right; }
          header .navbar .navbar-header .header-button .btn {
            height: 45px;
            font-size: 17px;
            line-height: 19px;
            padding: 14px 23px; }
      header .navbar .logo {
        width: 100%;
        text-align: center;
        margin-top: -25px; }
        header .navbar .logo .logo-img {
          height: 65px; }
    header .slide-content {
      top: 100px; }
      header .slide-content .slide-logo {
        width: 260px !important; }
      header .slide-content p {
        width: 466px; }
      header .slide-content .btn-service {
        width: 466px; }
        header .slide-content .btn-service a {
          color: #fff;
          border: 2px solid #fff;
          border-radius: 0;
          width: 268px;
          height: 45px;
          font-size: 16px;
          margin-top: 36px; }
          header .slide-content .btn-service a:hover {
            background-color: rgba(255, 255, 255, 0.2); }
    header .top-menu {
      height: 82px;
      background-color: #d7e0d6; }
      header .top-menu .main-menu {
        margin-top: 24px;
        margin-bottom: 15px; }
    header .header-breadcrumb {
      height: 45px;
      background-color: #fff; }
      header .header-breadcrumb .breadcrumb {
        background-color: transparent;
        font-size: 14px;
        color: #644342;
        padding-top: 12px; }
        header .header-breadcrumb .breadcrumb a {
          color: #644342; }
          header .header-breadcrumb .breadcrumb a:hover, header .header-breadcrumb .breadcrumb a:active, header .header-breadcrumb .breadcrumb a:focus {
            color: #644342;
            opacity: 0.7; }

  /* Main content*/
  section .title {
    height: 100px;
    padding: 26px;
    font-size: 38px;
    font-weight: normal; }

  .main .products {
    margin-bottom: 64px; }
  .main .product-list .product {
    width: 316px;
    margin-top: 57px;
    margin-left: 63px;
    float: left;
    text-align: left; }
    .main .product-list .product:first-of-type, .main .product-list .product:nth-of-type(3n + 1) {
      margin-left: 0; }
    .main .product-list .product .product-img {
      max-width: 100%;
      height: auto; }
    .main .product-list .product .product-name {
      font-size: 23px;
      margin-top: 23px;
      line-height: 30px; }
    .main .product-list .product .btn-apply a {
      margin-top: 15px;
      width: 100%;
      height: 54px;
      font-size: 18px;
      line-height: 40px; }

  /* END .main */
  .news .title {
    height: 72px;
    font-size: 22px;
    line-height: 20px; }
  .news .news-list {
    color: #454545; }
    .news .news-list .news-item {
      border-bottom: 1px dashed #c5c5c5;
      font-size: 17px;
      height: 80px;
      padding-top: 25px; }
      .news .news-list .news-item a {
        color: #454545; }
        .news .news-list .news-item a:hover, .news .news-list .news-item a:focus, .news .news-list .news-item a:active {
          color: #454545; }
      .news .news-list .news-item .news-title {
        margin-left: 40px; }
  .news .btn-news-list {
    width: 418px;
    height: 54px;
    font-size: 18px;
    background-color: #9b9b9b;
    color: #fff;
    line-height: 38px;
    margin: 34px 0; }

  /* END .news*/
  .new-register {
    padding-top: 52px; }
    .new-register h3 {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      height: 42px;
      font-size: 22px;
      line-height: 42px;
      background: url("../img/register-icon.png") no-repeat left center;
      background-size: 58px 42px;
      padding-left: 60px; }
    .new-register p {
      width: 670px;
      margin-left: auto;
      margin-right: auto; }
    .new-register .btn-register-top {
      margin: 20px auto 52px;
      width: 412px;
      height: 55px;
      font-size: 19px;
      line-height: 40px; }
    .new-register .btn-edit-category {
      margin: -25px auto 52px;
      width: 412px;
      height: 55px;
      font-size: 19px;
      line-height: 40px; }

  /* END .new-register*/
  .product-detail {
    margin-top: 46px; }
    .product-detail .title {
      height: 72px;
      font-size: 20px;
      line-height: 20px; }
    .product-detail .product-img {
      width: 500px;
      float: left; }
      .product-detail .product-img .main-img {
        max-width: 100%; }
      .product-detail .product-img .sub-img {
        list-style: none;
        padding: 0; }
        .product-detail .product-img .sub-img li {
          margin-left: 16px;
          float: left; }
          .product-detail .product-img .sub-img li:first-child {
            margin-left: 0; }
        .product-detail .product-img .sub-img img {
          width: 87px;
          margin-top: 16px;
          margin-right: 0; }
    .product-detail .product-info {
      float: left;
      width: 500px;
      margin-left: 74px; }
      .product-detail .product-info .name {
        font-size: 22px;
        line-height: 30px;
        font-weight: bold;
        margin-top: 8px; }
      .product-detail .product-info .manufacturer {
        font-size: 14px;
        margin-top: 28px;
        margin-bottom: 30px; }
      .product-detail .product-info .btn-sns {
        margin-bottom: 35px; }
      .product-detail .product-info .btn-apply {
        width: 100%; }
        .product-detail .product-info .btn-apply a {
          height: 55px;
          width: 450px;
          font-size: 20px;
          line-height: 40px;
          margin-bottom: 36px; }
      .product-detail .product-info .recommend-point {
        margin-bottom: 45px; }
    .product-detail .apply-info {
      margin-bottom: 45px; }
      .product-detail .apply-info .title {
        background-color: #fff;
        padding: 0;
        font-weight: bold;
        display: table-cell;
        vertical-align: middle; }
      .product-detail .apply-info ul {
        list-style: none;
        padding: 0; }
        .product-detail .apply-info ul li {
          height: 70px;
          border-bottom: 1px solid #c7c7c7;
          font-size: 18px;
          padding-top: 24px; }
          .product-detail .apply-info ul li:last-of-type {
            border-bottom: none; }
      .product-detail .apply-info .info-value, .product-detail .apply-info .notice-method {
        float: right; }

  /* END product-detail */
  .comments .title {
    height: 72px;
    font-size: 20px;
    line-height: 20px; }
  .comments .comment-list {
    margin-top: 48px;
    width: 500px;
    float: left; }
    .comments .comment-list ul {
      list-style: none;
      padding: 0; }
      .comments .comment-list ul li {
        border-bottom: 1px solid #cfcfcf;
        margin-bottom: 30px; }
    .comments .comment-list .name {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 30px; }
    .comments .comment-list .content {
      font-size: 16px;
      margin-bottom: 50px;
      line-height: 26px; }
  .comments .comment-form {
    width: 500px;
    float: right; }
    .comments .comment-form .title {
      margin-top: 12px;
      background-color: #fff;
      padding-left: 0; }
    .comments .comment-form textarea {
      height: 160px;
      margin-top: 10px;
      margin-bottom: 34px; }
    .comments .comment-form .btn-submit-comment {
      width: 450px;
      height: 54px;
      font-size: 17px; }
  .comments .btn-apply {
    width: 100%;
    border-top: 1px solid #c5c5c5;
    padding-top: 38px;
    margin-bottom: 80px; }
    .comments .btn-apply a {
      height: 55px;
      width: 450px;
      font-size: 20px;
      line-height: 40px; }

  /* END .comments*/
  .recommend-list .title {
    height: 72px;
    font-size: 20px;
    line-height: 20px; }

  .recommend-list ul.product-list, .register ul.product-list {
    margin-bottom: 40px; }
    .recommend-list ul.product-list li, .register ul.product-list li {
      margin-left: 0 !important;
      margin-right: 63px; }
    .recommend-list ul.product-list .btn-apply, .register ul.product-list .btn-apply {
      border-top: none;
      margin-bottom: 0;
      padding-top: 0; }
  .recommend-list .btn-recommend-list, .register .btn-recommend-list {
    width: 100%;
    padding-top: 44px;
    margin-bottom: 44px; }
    .recommend-list .btn-recommend-list a, .register .btn-recommend-list a {
      height: 55px;
      width: 450px;
      font-size: 20px;
      line-height: 40px; }

  /* END .recommend-list*/
  .register label {
    font-size: 16px;
    font-weight: normal; }
  .register .title {
    background-color: #fff;
    text-align: center;
    font-size: 37px;
    font-weight: normal;
    border-bottom: 1px solid #c9c9c9;
    height: 100px !important; }
  .register .register-step {
    margin-top: 24px;
    padding: 0 14%; }
  .register .register-form {
    padding-top: 22px; }
    .register .register-form .policy-text {
      font-size: 16px; }
    .register .register-form .tos-link {
      text-align: center; }
      .register .register-form .tos-link label {
        font-size: 14px; }
    .register .register-form .policy-label {
      font-size: 20px;
      text-align: center; }
    .register .register-form form {
      width: 64%;
      margin: 0 auto; }
      .register .register-form form label {
        text-align: left; }
      .register .register-form form input[type=text], .register .register-form form input[type=password], .register .register-form form select {
        height: 50px;
        font-size: 16px; }
      .register .register-form form input[type=checkbox] {
        width: 20px;
        height: 20px;
        border-radius: 0; }
      .register .register-form form .checkbox-label {
        display: inline-block;
        margin-left: 10px;
        position: relative;
        top: -4px; }
      .register .register-form form .btn {
        height: 55px;
        width: 450px;
        font-size: 20px; }
      .register .register-form form .btn-confirm {
        margin-top: 20px;
        margin-bottom: 40px;
        line-height: 38px; }
      .register .register-form form .register-confirm {
        margin-top: -22px; }
        .register .register-form form .register-confirm li {
          height: 90px;
          font-size: 18px;
          padding-top: 34px; }
      .register .register-form form .text-notice {
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 17px;
        color: #424242; }
      .register .register-form form .btn-register {
        margin-bottom: 35px; }
      .register .register-form form .text-finish {
        font-size: 20px;
        margin-bottom: 30px; }
      .register .register-form form .text-note {
        font-size: 17px;
        color: #ff5968; }
      .register .register-form form .pin-input {
        margin-bottom: 35px; }

  /* END .register */
  .login .title {
    background-color: #fff;
    text-align: center;
    font-size: 34px;
    font-weight: normal;
    border-bottom: 1px solid #cccccc;
    height: 100px; }
  .login .form-group {
    margin-bottom: 15px;
    width: 100%; }
  .login .login-form form {
    width: 660px;
    margin: 55px auto 0; }
    .login .login-form form label {
      font-size: 16px;
      font-weight: normal;
      margin-top: 13px; }
    .login .login-form form input[type=text], .login .login-form form input[type=password], .login .login-form form select {
      height: 50px;
      font-size: 16px;
      width: 100%; }
    .login .login-form form input[type=checkbox] {
      width: 20px;
      height: 20px;
      border-radius: 0; }
    .login .login-form form .checkbox-label {
      display: inline-block;
      margin-left: 10px;
      position: relative;
      top: -4px; }
    .login .login-form form .btn-login {
      color: #fff;
      background-color: #cc9d44;
      height: 55px;
      width: 450px;
      font-size: 20px;
      margin-top: 20px; }
  .login .login-form .login-link {
    margin-bottom: 36px;
    text-align: center; }

  /* END .login */
  .product-subs {
    font-size: 16px; }
    .product-subs .container {
      width: 640px; }
    .product-subs .progress-meter {
      padding-top: 30px;
      width: 80%;
      margin: auto; }
    .product-subs form input[type=text], .product-subs form input[type=password], .product-subs form select {
      height: 50px;
      font-size: 16px; }
    .product-subs form input[type=checkbox], .product-subs form input[type=radio] {
      width: 20px;
      height: 20px;
      border: solid 1px #9a9a9a;
      border-radius: 0;
      background-color: #fff; }
    .product-subs form .checkbox-label {
      display: inline-block;
      margin-left: 10px;
      position: relative;
      top: -4px; }
    .product-subs .anket-list li {
      margin-bottom: 15px;
      padding: 0 50px 15px; }
    .product-subs .anket {
      border-bottom: 1px solid #cbcbcb; }
      .product-subs .anket .question {
        font-size: 16px;
        margin-bottom: 24px; }
        .product-subs .anket .question .qno {
          width: 52px;
          height: 52px;
          border-radius: 52px;
          text-align: center;
          line-height: 52px; }
        .product-subs .anket .question .qcontent {
          margin-left: 15px; }
    .product-subs .address .title {
      font-size: 20px;
      height: 72px; }
    .product-subs .address .current-address .shipping-info li {
      padding: 36px 0; }
      .product-subs .address .current-address .shipping-info li .address-label {
        float: left; }
      .product-subs .address .current-address .shipping-info li .address-detail {
        text-align: right;
        float: right;
        width: 90%; }
    .product-subs .address .update-address input[name=Mem_Pcode1], .product-subs .address .update-address input[name=Mem_Pcode2] {
      float: left;
      width: 48%; }
    .product-subs .address .update-address .title {
      font-size: 20px;
      line-height: 20px;
      height: 72px;
      margin-bottom: 20px; }
      .product-subs .address .update-address .title .icon-toggle {
        width: 45px;
        height: 45px;
        background-size: 45px 45px;
        margin-top: -12px;
        margin-right: -26px; }
        .product-subs .address .update-address .title .icon-toggle.content-open {
          width: 45px;
          height: 45px;
          background-size: 45px 45px;
          margin-top: -12px;
          margin-right: -26px; }
    .product-subs button.btn-apply, .product-subs .btn-gray {
      height: 55px;
      width: 450px;
      font-size: 20px;
      margin-top: 20px;
      line-height: 40px; }

  /* END .product-subs */
  footer {
    background-color: #d7e0d6; }
    footer .menu {
      width: 100%; }
      footer .menu .container {
        width: 800px; }
      footer .menu .main-menu {
        height: 77px;
        padding-top: 19px;
        margin-top: 0; }
    footer .extra-page {
      height: 63px;
      padding-top: 23px;
      width: 100%;
      text-align: center; }
      footer .extra-page a {
        color: #5c5c5c;
        border-left: 1px solid #5c5c5c;
        padding: 0 5px; }
        footer .extra-page a:first-of-type {
          border-left: none; }
        footer .extra-page a:hover, footer .extra-page a:focus, footer .extra-page a:active {
          background-color: transparent;
          color: #5c5c5c; }
    footer .copyright {
      color: #5c5c5c;
      padding-top: 11px;
      font-size: 12px;
      height: 30px;
      margin-bottom: 5px; }

  /* END @media (min-width: 768px) */ }
@media (max-width: 767px) {
  header .container {
    width: 100%; }
  header .slide-content {
    top: 50%;
    width: 45%;
    height: 82px;
    margin-top: -41px; }

  .navbar {
    border: none;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 0; }
    .navbar .navbar-header {
      position: relative;
      background-color: #d7e0d6;
      border-bottom: 1px solid #c9c9c9; }
    .navbar .navbar-toggle {
      color: #959595;
      margin: 0;
      position: absolute;
      right: 0;
      border: none;
      border-radius: 0; }
      .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
        background-color: #c1ccc0; }
      .navbar .navbar-toggle .icon-bar {
        background-color: #959595; }
    .navbar .header-button {
      float: right;
      text-align: right;
      width: 100%; }
    .navbar .logo {
      position: absolute;
      float: left; }

  .menu {
    border-top: none;
    background-color: #c1ccc0; }
    .menu .container {
      padding: 0; }
    .menu .footer-menu li.logout {
      display: none; }
    .menu ul.main-menu {
      background-color: #d7e0d6; }
      .menu ul.main-menu li {
        border-top: 1px solid #c1ccc0;
        border-bottom: 1px solid #979797; }
        .menu ul.main-menu li a {
          background: url("../img/menu-arrow.png") no-repeat;
          background-position: right center;
          color: #5c5c5c; }
          .menu ul.main-menu li a:hover, .menu ul.main-menu li a:focus, .menu ul.main-menu li a:active {
            color: #5c5c5c; }
      .menu ul.main-menu .member-menu {
        list-style: none;
        padding: 0;
        background-color: #fff; }
        .menu ul.main-menu .member-menu li {
          width: 50%;
          float: left;
          border-left: 1px solid #979797;
          border-bottom: none; }
          .menu ul.main-menu .member-menu li a {
            text-decoration: none;
            display: block; }
          .menu ul.main-menu .member-menu li.logout {
            width: 100%; }
            .menu ul.main-menu .member-menu li.logout a {
              background: none; }

  .extra-page {
    margin: 0 -15px; }
    .extra-page .extra-page-item {
      border-right: 1px solid #9b9b9b;
      border-bottom: 1px solid #9b9b9b;
      width: 50%;
      float: left;
      color: #5c5c5c; }
      .extra-page .extra-page-item:hover, .extra-page .extra-page-item:focus, .extra-page .extra-page-item:active {
        color: #5c5c5c; }

  .btn-service a {
    color: #fff;
    background-color: #cc9d44;
    width: 100%; }
    .btn-service a:hover, .btn-service a:active, .btn-service a:focus {
      color: #fff; }

  .main h3 {
    font-weight: bold; }
  .main .product-list .product {
    float: left; }
    .main .product-list .product:first-of-type, .main .product-list .product:nth-of-type(3n + 1) {
      margin-left: 0; }
    .main .product-list .product .product-img {
      max-width: 100%;
      height: auto; }

  /* END .main */
  .new-register h3 {
    margin-left: auto;
    margin-right: auto; }
  .new-register p {
    margin-left: auto;
    margin-right: auto; }

  /* END .new-register*/
  .product a {
    color: #519ed4; }
    .product a:hover, .product a:active, .product a:focus {
      color: #519ed4;
      opacity: 0.7; }

  .product-detail {
    width: 100%; }
    .product-detail .product-img .main-img {
      max-width: 100%; }
    .product-detail .product-info .btn-apply {
      width: 100%; }
      .product-detail .product-info .btn-apply a {
        width: 100%; }
    .product-detail .apply-info #apply-info {
      display: none; }
    .product-detail .apply-info ul {
      list-style: none;
      padding: 0; }
      .product-detail .apply-info ul li {
        border-bottom: 1px solid #c7c7c7; }
        .product-detail .apply-info ul li:last-of-type {
          border-bottom: none; }
    .product-detail .apply-info .info-value, .product-detail .apply-info .notice-method {
      float: right; }

  /* END product-detail */
  .comments #comment-list {
    display: none; }
  .comments .comment-list ul {
    list-style: none;
    padding: 0; }
    .comments .comment-list ul li {
      border-bottom: 1px solid #cfcfcf; }
  .comments .comment-list .name {
    font-weight: bold; }
  .comments .comment-form .title {
    background-color: #fff;
    padding-left: 0; }
  .comments .btn-apply {
    width: 100%; }
    .comments .btn-apply a {
      width: 100%; }

  /* END .comments*/
  .recommend-list .title, .register .title {
    background-color: #fff;
    text-align: center; }
  .recommend-list ul.product-list li, .register ul.product-list li {
    margin-left: 0 !important; }
    .recommend-list ul.product-list li .btn-apply, .register ul.product-list li .btn-apply {
      margin-bottom: 0;
      padding: 0; }

  /* END .recommend-list*/
  .register .title {
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #c9c9c9;
    font-weight: normal; }
  .register .progress-meter {
    border-bottom: 1px solid #c9c9c9; }
  .register .register-form form label {
    font-weight: normal; }
  .register .register-form form .btn-confirm, .register .register-form form .btn-register {
    width: 100%; }

  /* END .register */
  .login .title {
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #cccccc; }
  .login .login-form form .btn-login {
    color: #fff;
    background-color: #cc9d44; }

  /* END .login */
  footer .container {
    width: 100%;
    padding: 0; }
  footer .menu {
    padding: 0 15px; }
  footer .main-menu {
    list-style: none;
    padding-left: 0;
    margin-top: 0 !important; }
  footer .copyright {
    color: #5c5c5c;
    margin-bottom: 5px; } }
@media (max-width: 767px) and (min-width: 414px) and (max-width: 767px) {
  form label {
    font-size: 14px; }
  form input[type=text], form input[type=password], form select {
    height: 43px;
    font-size: 14px; }
  form input[type=checkbox] {
    width: 17px;
    height: 17px;
    border: solid 1px #9a9a9a;
    border-radius: 0;
    background-color: #fff; }

  section .title {
    height: 70px;
    font-size: 30px;
    padding-top: 17px;
    padding-left: 21px; }
    section .title .icon-toggle {
      width: 43px;
      height: 43px;
      margin-right: 9px;
      margin-top: -4px;
      background-size: 43px 43px; }
      section .title .icon-toggle.content-open {
        background-size: 43px 43px; }

  .navbar {
    height: 65px; }
    .navbar .navbar-header {
      height: 65px; }
    .navbar .navbar-toggle {
      height: 65px;
      width: 52px;
      padding: 8px 16px; }
    .navbar .header-button {
      padding: 16px 52px 0 120px; }
      .navbar .header-button .btn {
        min-width: 110px;
        height: 36px;
        font-size: 14px;
        line-height: 24px; }
    .navbar .logo {
      padding-top: 18px;
      margin-left: 20px; }
      .navbar .logo img {
        height: 28px; }

  .container {
    width: 370px; }

  .menu ul.main-menu {
    margin-top: 14px;
    margin-bottom: 0; }
    .menu ul.main-menu li {
      font-size: 14px; }
      .menu ul.main-menu li .menu-item {
        height: 24px;
        padding-left: 45px;
        line-height: 24px; }
      .menu ul.main-menu li .menu-home, .menu ul.main-menu li .menu-product, .menu ul.main-menu li .menu-news, .menu ul.main-menu li .menu-category, .menu ul.main-menu li .menu-mypage {
        background-size: 25px 24px; }
      .menu ul.main-menu li a {
        height: 43px;
        background-size: 14px 16px;
        margin: 0 24px;
        padding: 10px 0; }

  .extra-page .extra-page-item {
    height: 45px;
    font-size: 12px;
    line-height: 45px;
    padding-left: 18px; }

  .slide-content {
    padding-left: 33px; }

  .service-guideline {
    width: 370px;
    margin: 0 auto; }
    .service-guideline p {
      margin-top: 24px;
      margin-bottom: 20px; }
    .service-guideline a {
      height: 45px;
      font-size: 14px;
      line-height: 35px; }

  .main .container {
    width: 370px;
    padding: 0; }
  .main .products {
    margin-bottom: 38px; }
  .main .product-list .product {
    width: 112px;
    margin-top: 22px;
    margin-left: 17px; }
    .main .product-list .product .product-img {
      max-height: 186px; }
    .main .product-list .product .product-name {
      font-size: 13px;
      margin-top: 7px;
      line-height: 17px;
      text-align: left; }

  /* END .main */
  .new-register h3 {
    height: 36px;
    font-size: 19px;
    line-height: 36px; }
  .new-register .btn-register-top {
    margin: 22px auto 43px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    line-height: 35px; }
  .new-register .btn-edit-category {
    margin: -17px auto 43px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    line-height: 35px; }

  /* END .new-register*/
  .product-detail {
    margin-top: 23px; }
    .product-detail .product-img .sub-img {
      list-style: none;
      padding: 0; }
      .product-detail .product-img .sub-img li {
        margin-left: 14px;
        float: left; }
        .product-detail .product-img .sub-img li:first-child {
          margin-left: 0; }
      .product-detail .product-img .sub-img img {
        width: 70px;
        margin-top: 14px;
        margin-right: 0; }
    .product-detail .product-info .name {
      font-size: 17px;
      line-height: 26px;
      font-weight: bold;
      margin-top: 39px; }
    .product-detail .product-info .manufacturer {
      font-size: 12px;
      margin-top: 24px;
      margin-bottom: 26px; }
    .product-detail .product-info .btn-sns {
      border-top: 1px solid #e8e5e5;
      padding-top: 16px;
      margin-bottom: 30px; }
    .product-detail .product-info .btn-apply {
      width: 100%; }
      .product-detail .product-info .btn-apply a {
        height: 47px;
        font-size: 17px;
        line-height: 35px;
        margin-bottom: 31px; }
    .product-detail .product-info .recommend-point {
      margin-bottom: 39px; }
    .product-detail .apply-info ul {
      list-style: none;
      padding: 0; }
      .product-detail .apply-info ul li {
        height: 60px;
        border-bottom: 1px solid #c7c7c7;
        font-size: 16px;
        padding-top: 21px; }
        .product-detail .apply-info ul li:last-of-type {
          border-bottom: none; }
    .product-detail .apply-info .info-value, .product-detail .apply-info .notice-method {
      float: right; }

  /* END product-detail */
  .comments .comment-list {
    margin-top: 41px; }
    .comments .comment-list ul li {
      margin-bottom: 26px; }
    .comments .comment-list .name {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 26px; }
    .comments .comment-list .content {
      font-size: 14px;
      margin-bottom: 43px;
      line-height: 22px; }
  .comments .comment-form .title {
    margin-top: 1px;
    text-align: center; }
  .comments .comment-form textarea {
    height: 138px;
    margin-top: 9px;
    margin-bottom: 29px; }
  .comments .comment-form .btn-submit-comment {
    width: 100%;
    height: 47px;
    font-size: 15px; }
  .comments .btn-apply {
    width: 100%;
    padding-top: 32px;
    margin-bottom: 69px; }
    .comments .btn-apply a {
      height: 47px;
      font-size: 17px;
      line-height: 35px; }

  /* END .comments*/
  .recommend-list ul.product-list, .register ul.product-list {
    margin-bottom: 20px; }
    .recommend-list ul.product-list li, .register ul.product-list li {
      width: 112px !important;
      margin-left: 0 !important;
      margin-right: 17px; }

  /* END .recommend-list*/
  .register {
    margin-top: 17px; }
    .register .progress-meter {
      padding: 17px 26px 69px; }
      .register .progress-meter .progress-points .label {
        display: inline-block;
        width: 52px; }
    .register .register-form {
      font-size: 14px;
      padding-top: 17px; }
      .register .register-form form .checkbox-label {
        display: inline-block;
        margin-left: 9px;
        position: relative;
        top: -3px; }
      .register .register-form form .btn {
        height: 47px;
        width: 100%;
        font-size: 17px; }
      .register .register-form form .btn-confirm {
        margin-top: 43px;
        margin-bottom: 35px; }
      .register .register-form form .register-confirm {
        margin-top: -19px; }
        .register .register-form form .register-confirm li {
          height: 78px;
          font-size: 16px;
          padding-top: 30px; }
      .register .register-form form .text-notice {
        margin-top: 9px;
        margin-bottom: 35px; }
      .register .register-form form .btn-register {
        margin-bottom: 30px; }
      .register .register-form form .text-finish {
        font-size: 17px;
        margin-bottom: 26px; }
      .register .register-form form .text-note {
        font-size: 15px; }
      .register .register-form form .pin-input {
        margin-bottom: 30px; }

  /* END .register */
  .login .title {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
    height: 70px; }
  .login .login-form form .btn-login {
    width: 100%;
    height: 47px;
    font-size: 17px;
    margin-top: 20px; }
  .login .login-form .login-link {
    margin-bottom: 26px;
    text-align: right; }

  /* END .login */
  .product-subs {
    font-size: 14px; }
    .product-subs .progress-meter {
      padding-top: 26px; }
    .product-subs form input[type=text], .product-subs form input[type=password], .product-subs form select {
      height: 43px;
      font-size: 14px; }
    .product-subs form input[type=checkbox], .product-subs form input[type=radio] {
      width: 17px;
      height: 17px; }
    .product-subs form .checkbox-label {
      display: inline-block;
      margin-left: 9px;
      position: relative;
      top: -3px; }
    .product-subs .anket-list li {
      margin-bottom: 13px;
      padding: 0 43px 13px; }
    .product-subs .anket {
      border-bottom: 1px solid #cbcbcb; }
      .product-subs .anket .question {
        font-size: 14px;
        margin-bottom: 21px; }
        .product-subs .anket .question .qno {
          width: 45px;
          height: 45px;
          border-radius: 45px;
          text-align: center;
          line-height: 45px; }
        .product-subs .anket .question .qcontent {
          margin-left: 13px; }
    .product-subs .address .title {
      font-size: 20px;
      height: 72px; }
    .product-subs .address .current-address .shipping-info li {
      padding: 31px 0; }
      .product-subs .address .current-address .shipping-info li .address-label {
        float: left; }
      .product-subs .address .current-address .shipping-info li .address-detail {
        text-align: right;
        float: right;
        width: 90%; }
    .product-subs .address .update-address input[name=Mem_Pcode1], .product-subs .address .update-address input[name=Mem_Pcode2] {
      float: left;
      width: 48%; }
    .product-subs .address .update-address .title .icon-toggle {
      width: 39px;
      height: 39px;
      background-size: 39px 39px;
      margin-top: -11px;
      margin-right: 0; }
      .product-subs .address .update-address .title .icon-toggle.content-open {
        width: 39px;
        height: 39px;
        background-size: 39px 39px;
        margin-top: -11px;
        margin-right: 0; }
    .product-subs button.btn-apply, .product-subs .btn-gray {
      height: 47px;
      width: 100%;
      font-size: 17px;
      margin-top: 17px;
      line-height: 35px; }

  /* END .product-subs */
  footer .copyright {
    height: 36px;
    font-size: 10px;
    padding-top: 20px; }

  /* END @media (min-width: 414px) and (max-width: 767px) */ }
@media (max-width: 767px) and (max-width: 413px) {
  section .title {
    height: 54px;
    font-size: 23px;
    padding-top: 13px;
    padding-left: 16px; }
    section .title .icon-toggle {
      width: 35px;
      height: 35px;
      margin-right: 7px;
      margin-top: -3px;
      background-size: 35px 35px; }
      section .title .icon-toggle.content-open {
        background-size: 35px 35px; }

  .slide-content {
    padding-left: 20px; }
    .slide-content h3 {
      font-size: 14px; }

  .navbar {
    height: 50px; }
    .navbar .navbar-header {
      height: 50px; }
    .navbar .navbar-toggle {
      width: 40px;
      height: 49px; }
    .navbar .header-button {
      padding: 12px 40px 0 92px; }
      .navbar .header-button .btn {
        min-width: 85px;
        height: 29px;
        font-size: 12px; }
    .navbar .logo {
      padding-top: 14px;
      margin-left: 15px; }
      .navbar .logo img {
        height: 22px; }

  .menu ul.main-menu {
    margin-top: 10px;
    margin-bottom: 0; }
    .menu ul.main-menu li {
      font-size: 14px; }
      .menu ul.main-menu li .menu-item {
        height: 19px;
        padding-left: 33px;
        line-height: 19px; }
      .menu ul.main-menu li .menu-home, .menu ul.main-menu li .menu-product, .menu ul.main-menu li .menu-news, .menu ul.main-menu li .menu-category, .menu ul.main-menu li .menu-mypage {
        background-size: 20px 19px; }
      .menu ul.main-menu li a {
        height: 35px;
        background-size: 11px 13px;
        margin: 0 20px;
        padding: 8px 0; }

  .extra-page .extra-page-item {
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    padding-left: 15px; }

  .service-guideline {
    width: 290px;
    margin: 0 auto; }
    .service-guideline p {
      margin-top: 17px;
      margin-bottom: 15px; }
    .service-guideline a {
      height: 35px;
      font-size: 12px;
      line-height: 22px; }

  .main .container {
    width: 290px;
    padding: 0; }
  .main .products {
    margin-bottom: 30px; }
  .main .product-list h3 {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 0; }
  .main .product-list .product {
    width: 90px;
    margin-top: 17px;
    margin-left: 10px; }
    .main .product-list .product .product-img {
      max-height: 135px; }
    .main .product-list .product .product-name {
      font-size: 12px;
      margin-top: 8px;
      line-height: 18px;
      text-align: left; }

  /* END .main */
  .new-register h3 {
    font-size: 16px; }
  .new-register p {
    font-size: 12px; }
  .new-register .btn-register-top {
    margin: 15px auto 36px;
    width: 100%;
    height: 35px;
    font-size: 14px;
    line-height: 20px; }
  .new-register .btn-edit-category {
    margin: -11px auto 36px;
    width: 100%;
    height: 35px;
    font-size: 14px;
    line-height: 20px; }

  /* END .new-register*/
  .product-detail {
    margin-top: 17px; }
    .product-detail .product-info .name {
      font-size: 15px;
      line-height: 20px;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 16px; }
    .product-detail .product-info .manufacturer {
      font-size: 10px;
      margin-bottom: 20px; }
    .product-detail .product-info .btn-sns {
      border-top: 1px solid #e8e5e5;
      padding-top: 12px;
      margin-bottom: 26px; }
    .product-detail .product-info .recommend-point {
      margin-bottom: 34px;
      font-size: 12px; }
    .product-detail .apply-info ul {
      list-style: none;
      padding: 0; }
      .product-detail .apply-info ul li {
        height: 45px;
        border-bottom: 1px solid #c7c7c7;
        font-size: 12px;
        padding-top: 15px; }
        .product-detail .apply-info ul li:last-of-type {
          border-bottom: none; }
    .product-detail .apply-info .info-value, .product-detail .apply-info .notice-method {
      float: right; }

  /* END product-detail */
  .comments .comment-list {
    margin-top: 28px; }
    .comments .comment-list ul li {
      margin-bottom: 22px; }
    .comments .comment-list .name {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 20px; }
    .comments .comment-list .content {
      font-size: 12px;
      margin-bottom: 22px;
      line-height: 18px; }
  .comments .comment-form .title {
    padding-top: 0;
    text-align: center;
    height: 40px; }
  .comments .comment-form label {
    font-size: 12px; }
  .comments .comment-form textarea {
    height: 100px;
    margin-bottom: 15px; }
  .comments .comment-form .btn-submit-comment {
    width: 100%;
    height: 35px;
    font-size: 14px; }
  .comments .btn-apply {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 27px; }
    .comments .btn-apply a {
      height: 35px;
      font-size: 14px;
      line-height: 20px; }

  /* END .comments*/
  .recommend-list ul.product-list, .register ul.product-list {
    margin-bottom: 16px; }
    .recommend-list ul.product-list li, .register ul.product-list li {
      width: 90px !important;
      margin-left: 0 !important;
      margin-right: 10px; }

  /* END .recommend-list*/
  .register {
    margin-top: 10px; }
    .register .register-form {
      padding-top: 15px; }
      .register .register-form form input[type=checkbox] {
        width: 16px;
        height: 16px;
        border: solid 1px #9a9a9a;
        border-radius: 0;
        background-color: #fff; }
      .register .register-form form .checkbox-label {
        display: inline-block;
        margin-left: 5px;
        position: relative;
        top: 0; }
      .register .register-form form .btn-confirm {
        margin-top: 35px;
        margin-bottom: 28px; }
      .register .register-form form .register-confirm {
        margin-top: -16px; }
        .register .register-form form .register-confirm li {
          height: 60px;
          font-size: 14px;
          padding-top: 20px; }
      .register .register-form form .text-notice {
        margin-top: 5px;
        margin-bottom: 25px; }
      .register .register-form form .btn-register {
        margin-bottom: 25px; }
      .register .register-form form .text-finish {
        font-size: 17px;
        margin-bottom: 23px; }
      .register .register-form form .text-note {
        font-size: 13px; }
      .register .register-form form .pin-input {
        margin-bottom: 25px; }

  /* END .register */
  .progress-meter {
    padding: 20px 20px 50px; }
    .progress-meter .progress-points .label {
      font-size: 12px;
      display: inline-block;
      width: 40px; }

  /* END .progress-meter */
  .login .title {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 15px;
    height: 50px; }
  .login .login-form form .btn-login {
    width: 100%; }
  .login .login-form .login-link {
    margin-bottom: 20px;
    text-align: right; }

  /* END .login */
  .product-subs {
    font-size: 14px; }
    .product-subs .progress-meter {
      padding-top: 20px; }
    .product-subs .anket-list li {
      margin-bottom: 10px;
      padding: 0 29px 29px; }
    .product-subs .anket {
      border-bottom: 1px solid #cbcbcb; }
      .product-subs .anket .question {
        font-size: 14px;
        margin-bottom: 16px; }
        .product-subs .anket .question .qno {
          width: 35px;
          height: 35px;
          border-radius: 35px;
          text-align: center;
          line-height: 35px; }
        .product-subs .anket .question .qcontent {
          margin-left: 10px; }
      .product-subs .anket .bx-prev {
        margin-left: -24px; }
      .product-subs .anket .bx-next {
        margin-right: -24px; }
    .product-subs .address .title {
      font-size: 15px;
      height: 48px; }
    .product-subs .address .current-address .shipping-info li {
      padding: 24px 0; }
      .product-subs .address .current-address .shipping-info li .address-label {
        float: left; }
      .product-subs .address .current-address .shipping-info li .address-detail {
        text-align: right;
        float: right;
        width: 90%; }
    .product-subs .address .update-address input[name=Mem_Pcode1], .product-subs .address .update-address input[name=Mem_Pcode2] {
      float: left;
      width: 47%; }
    .product-subs .address .update-address .title .icon-toggle {
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      margin-top: -8px;
      margin-right: 0; }
      .product-subs .address .update-address .title .icon-toggle.content-open {
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        margin-top: -8px;
        margin-right: 0; }
    .product-subs button.btn-apply, .product-subs .btn-gray {
      height: 37px;
      width: 100%;
      font-size: 13px;
      margin-top: 13px;
      line-height: 27px; }

  /* END .product-subs */
  footer .copyright {
    height: 28px;
    font-size: 10px;
    padding-top: 15px; }

  /* END @media (max-width: 413px) */ }
/* START _style1.css */
/* START Common CSS */
/* END Common CSS */
li.first-child {
  border-left: none; }

@media (min-width: 768px) {
  .list-category .title {
    background: none;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid #979797; }
    .list-category .title a {
      color: #333333; }
  .list-category .content {
    padding: 10px 100px; }
    .list-category .content .title {
      text-align: left;
      padding: 10px 0px;
      height: auto;
      border-bottom: 1px dashed #979797;
      border-top: 1px solid #979797; }
    .list-category .content ul {
      padding: 0px;
      list-style: none;
      margin-top: 20px; }
      .list-category .content ul li {
        display: block;
        line-height: 45px; }
        .list-category .content ul li a {
          font-size: 16px;
          color: #333; } }
/* END @media (min-width: 767px) */
@media (max-width: 767px) {
  .list-category .title {
    background: none;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #979797; }
    .list-category .title a {
      color: #333333; }
  .list-category .content {
    padding-top: 25px; }
    .list-category .content .title {
      text-align: left;
      padding: 10px 0px;
      height: auto;
      border-bottom: 1px dashed #979797;
      border-top: 1px solid #979797; }
    .list-category .content ul {
      padding: 0px;
      list-style: none;
      margin-top: 20px; }
      .list-category .content ul li {
        display: block;
        line-height: 45px; }
        .list-category .content ul li a {
          font-size: 16px;
          color: #333; }

  /* END @media (min-width: 414px) and (max-width: 767px) */
  /* @media (max-width: 413px) */ }
/* END @media (max-width: 767px) */
/* END _style1.css */
/* START _style2.css */
/* START Common CSS */
.magazine-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.magazine .magazine-list, .recommend-list .magazine-list {
  margin: 22px 152px 4px 193px;
  overflow: hidden; }
  .magazine .magazine-list .magazine-item, .recommend-list .magazine-list .magazine-item {
    overflow: hidden;
    border-bottom: 1px dashed #c5c5c5;
    padding-top: 20px;
    padding-bottom: 20px; }
    .magazine .magazine-list .magazine-item:last-child, .recommend-list .magazine-list .magazine-item:last-child {
      border-bottom: none; }
    .magazine .magazine-list .magazine-item img, .recommend-list .magazine-list .magazine-item img {
      width: 161px;
      float: left; }
    .magazine .magazine-list .magazine-item a:hover, .magazine .magazine-list .magazine-item a:focus, .magazine .magazine-list .magazine-item a:active, .recommend-list .magazine-list .magazine-item a:hover, .recommend-list .magazine-list .magazine-item a:focus, .recommend-list .magazine-list .magazine-item a:active {
      color: #454545; }
    .magazine .magazine-list .magazine-item .magazine-content, .recommend-list .magazine-list .magazine-item .magazine-content {
      margin-top: 0px;
      width: auto;
      margin-left: 180px; }
      .magazine .magazine-list .magazine-item .magazine-content .magazine-date-top, .recommend-list .magazine-list .magazine-item .magazine-content .magazine-date-top {
        font-size: 12pt;
        font-weight: bold;
        color: #000000;
        display: block; }
      .magazine .magazine-list .magazine-item .magazine-content .magazine-title, .recommend-list .magazine-list .magazine-item .magazine-content .magazine-title {
        font-size: 17px;
        color: #0869a3; }

.recommend-list .magazine-list {
  margin: 22px 0px 4px 0px; }
  .recommend-list .magazine-list .magazine-item {
    width: 48%;
    float: left; }
    .recommend-list .magazine-list .magazine-item img {
      width: 200px; }
    .recommend-list .magazine-list .magazine-item:nth-child(2n) {
      float: right; }
    .recommend-list .magazine-list .magazine-item:last-child {
      border-bottom: 1px dashed #c5c5c5; }
    .recommend-list .magazine-list .magazine-item .magazine-content {
      margin-left: 220px; }
      .recommend-list .magazine-list .magazine-item .magazine-content .magazine-date-top {
        font-weight: normal; }

.btn-magazine-list {
  background-color: #cc9d44; }

.btn-magazine-list:hover {
  color: #fff;
  opacity: 0.7; }

.magazine-detail .content {
  padding: 0px 80px; }
  .magazine-detail .content .detail-title {
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 20px 0px;
    border-bottom: 1px solid #999999; }
  .magazine-detail .content .magazine-date {
    padding: 10px 0px; }
  .magazine-detail .content .magazine-image img {
    width: 100%;
    height: auto; }

.enable-background {
  background-color: #FFFFFF !important; }
  .enable-background ol li {
    color: #644342 !important; }
    .enable-background ol li a {
      color: #644342 !important; }

.btn-recommend-magazine-list a {
  background-color: #cc9d44;
  color: #fff !important; }

/* END .magazine
/* END Common CSS */
@media (min-width: 768px) {
  .btn-magazine-list {
    width: 418px;
    height: 54px;
    font-size: 18px;
    color: #fff;
    line-height: 38px;
    margin: 34px 0; }

  .btn-recommend-magazine-list {
    width: 100%;
    padding-top: 44px;
    margin-bottom: 44px; }
    .btn-recommend-magazine-list a {
      height: 55px;
      width: 450px;
      font-size: 20px;
      line-height: 40px; }

  .information .title {
    background-color: #fff;
    text-align: center;
    font-size: 34px;
    font-weight: normal;
    border-bottom: 1px solid #233435;
    height: 100px; }
  .information .news-list {
    margin: 22px 152px 4px 193px; }
    .information .news-list .news-item {
      overflow: hidden;
      border-bottom: 1px dashed #c5c5c5;
      padding: 15px 0px; }
      .information .news-list .news-item:last-child {
        border-bottom: none; }
      .information .news-list .news-item span {
        float: left;
        padding: 0px;
        color: #454545;
        font-size: 17px; }
      .information .news-list .news-item .news-date {
        width: 20%; }
      .information .news-list .news-item .news-title {
        width: 78%;
        padding-left: 20px; }
        .information .news-list .news-item .news-title a {
          color: #454545; }

  .recommend-list .magazine-list .magazine-item {
    height: 200px; } }
/* END @media (min-width: 767px) */
@media (max-width: 767px) {
  .magazine .magazine-list, .recommend-list .magazine-list {
    margin: 0px 0px 0px 0px;
    overflow: hidden; }
    .magazine .magazine-list .magazine-item, .recommend-list .magazine-list .magazine-item {
      position: relative;
      overflow: hidden;
      border-bottom: 2px solid #c5c5c5;
      padding-bottom: 0px;
      padding-top: 0px; }
      .magazine .magazine-list .magazine-item img, .recommend-list .magazine-list .magazine-item img {
        width: 100px;
        float: left; }
      .magazine .magazine-list .magazine-item .magazine-content, .recommend-list .magazine-list .magazine-item .magazine-content {
        margin-left: 115px; }
        .magazine .magazine-list .magazine-item .magazine-content .magazine-date-top, .recommend-list .magazine-list .magazine-item .magazine-content .magazine-date-top {
          display: none; }
        .magazine .magazine-list .magazine-item .magazine-content .magazine-date-bottom, .recommend-list .magazine-list .magazine-item .magazine-content .magazine-date-bottom {
          float: right;
          position: absolute;
          bottom: 0px;
          right: 0px; }
        .magazine .magazine-list .magazine-item .magazine-content .magazine-title, .recommend-list .magazine-list .magazine-item .magazine-content .magazine-title {
          color: #0869a3;
          font-size: 14px;
          display: block; }
          .magazine .magazine-list .magazine-item .magazine-content .magazine-title a:hover, .recommend-list .magazine-list .magazine-item .magazine-content .magazine-title a:hover {
            text-decoration: none; }

  .recommend-list .magazine-list {
    margin: 22px 0px 4px 0px; }
    .recommend-list .magazine-list .magazine-item {
      width: 100%; }
      .recommend-list .magazine-list .magazine-item:last-child {
        border-bottom: none; }

  .btn-magazine-list {
    margin: 22px auto 43px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: #fff;
    line-height: 35px; }

  .magazine-detail .content {
    padding: 0px 0px;
    width: 100%; }
    .magazine-detail .content table {
      width: 100% !important;
      overflow: hidden; }
    .magazine-detail .content img {
      width: 100% !important;
      height: auto !important; }
    .magazine-detail .content .detail-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 1px;
      padding: 0px;
      border-bottom: none; }
    .magazine-detail .content .magazine-date {
      padding: none; }
    .magazine-detail .content .magazine-image {
      margin-bottom: 20px; }
    .magazine-detail .content .magazine-desktop {
      display: none; }

  .information .title {
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #233435; }
  .information .news-list {
    margin: 10px 0px 4px 0px; }
    .information .news-list .news-item {
      overflow: hidden;
      border-bottom: 1px dashed #c5c5c5;
      padding: 15px 0px; }
      .information .news-list .news-item:last-child {
        border-bottom: none; }
      .information .news-list .news-item span {
        padding: 0px;
        color: #454545;
        font-size: 14px; }
      .information .news-list .news-item .news-date {
        font-size: 16px;
        display: block;
        padding-bottom: 5px; }
      .information .news-list .news-item .news-title {
        padding-left: 5px; }
        .information .news-list .news-item .news-title a {
          color: #454545; } }
@media (max-width: 767px) and (min-width: 414px) and (max-width: 767px) {
  .information .title {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
    height: 70px; }

  .main .product-list .product {
    word-break: break-all; } }
@media (max-width: 767px) {
  /* END @media (min-width: 414px) and (max-width: 767px) */ }
@media (max-width: 767px) and (max-width: 413px) {
  .main .product-list .product {
    word-break: break-all; } }
@media (max-width: 767px) {
  /* @media (max-width: 413px) */ }
/* END @media (max-width: 767px) */
/* END _style2.css */
/* START _product_subs_confirm.scss */
/* START Common CSS */
.subscribe-info ul li {
  border-bottom: 1px dashed #979797; }

/* END Common CSS */
@media (min-width: 768px) {
  .subscribe-info ul li {
    padding: 30px 0;
    font-size: 20px; } }
/* END @media (min-width: 767px) */
@media (max-width: 767px) and (min-width: 414px) and (max-width: 767px) {
  .subscribe-info ul li {
    padding: 30px 0;
    font-size: 18px; } }
@media (max-width: 767px) {
  /* END @media (min-width: 414px) and (max-width: 767px) */ }
@media (max-width: 767px) and (max-width: 413px) {
  .subscribe-info ul li {
    padding: 23px 0;
    font-size: 13px; } }
@media (max-width: 767px) {
  /* @media (max-width: 413px) */ }
/* END @media (max-width: 767px) */
/* END _product_subs_confirm.scss */
/* START _product_subs_complete.scss */
/* START Common CSS */
/* END Common CSS */
@media (min-width: 768px) {
  .subscribe-complete .text1 {
    font-size: 27px;
    padding: 40px 0 20px; }
  .subscribe-complete .text2 {
    font-size: 18px;
    margin-bottom: 80px; }
  .subscribe-complete .form-group {
    margin-bottom: 60px; } }
/* END @media (min-width: 767px) */
@media (max-width: 767px) and (min-width: 414px) and (max-width: 767px) {
  .subscribe-complete .text1 {
    font-size: 27px;
    padding: 40px 0 20px; }
  .subscribe-complete .text2 {
    font-size: 18px;
    margin-bottom: 80px; }
  .subscribe-complete .form-group {
    margin-bottom: 60px; } }
@media (max-width: 767px) {
  /* END @media (min-width: 414px) and (max-width: 767px) */ }
@media (max-width: 767px) and (max-width: 413px) {
  .subscribe-complete .text1 {
    font-size: 18px;
    padding: 30.91787px 0 15.45894px; }
  .subscribe-complete .text2 {
    font-size: 14px;
    margin-bottom: 61.83575px; }
  .subscribe-complete .form-group {
    margin-bottom: 46.37681px; } }
@media (max-width: 767px) {
  /* @media (max-width: 413px) */ }
/* END @media (max-width: 767px) */
/* END _product_subs_complete.scss */

/*# sourceMappingURL=style.css.map */
