body {
    font-family: "Meiryo UI", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*Spacing*/
.top10{
    margin-top: 10px;
}
.top15{
    margin-top: 15px;
}
.top20{
    margin-top: 20px;
}
.bottom10{
    margin-bottom: 10px;
}
.bottom15{
    margin-bottom: 15px;
}
.bottom20{
    margin-bottom: 20px;
}
.padding5 {
    padding: 5px;
}
.padding8 {
    padding: 8px;
}
.padding10 {
    padding: 10px;
}

/*None padding*/
.nonePaddingRight{
    padding-right: 0;
}

.nonePaddingLeft{
    padding-left: 0;
}

/*Border*/
.borderCe {
    border: 1px solid #cecece;
}
.borderRadius {
    border-radius: 5px !important;
}
.borderTop{
    border-top: 1px solid #cecece;
}
.borderBottom{
    border-bottom:1px solid #cecece;
}
/*CRUD Image*/
.articleImagePreview{
    width: 150px;
    height: 150px;
}

/* height*/
.height30 {
    height: 30px;
    line-height: 30px;
}
.height100 {
    height: 100px;
}

/* width */
.width100Percent {
    width: 100%;
}
.displayBlock {
    display: block;
}
/* font */
.fontWeight700 {
    font-weight: 700;
}

/* resize image*/
.imageSize150x200 {
    display: block;
    width: 150px;
    height: 200px;
}

/*Custom Date CSS*/
.comboDateClass{
    width: 60px !important;
    height: 35px;
}